In [1]:
print("Привет, Jupyter!")

Привет, Jupyter!

In [2]:
import sys
print(sys.executable)

C:\Users\elena.kim\AppData\Local\anaconda3\python.exe

In [3]:
2+3

5

In [4]:
2+5

7

In [5]:
2*3

6

In [6]:
566666666666*3333333334

1888888889264444444444

In [7]:
11111*1111111

12345554321

In [8]:
42/(4+2*(−2))

SyntaxError: invalid character '−' (U+2212) (2760261380.py, line 1)

In [ ]:
42//(4+2*(−2))

In [ ]:
42//(4+2*(-2))

In [ ]:
2014**14

In [ ]:
5\2

In [ ]:
5/2

In [ ]:
5//2

In [ ]:
0.8+0.3

In [ ]:
# Переберём в цикле строку 'python':
for char in 'python': 
    print(char)

In [ ]:
# Список с комментариями пользователей:
comments = [
    'Супер!!!',
    'Не понял...',
    'Как же круто!',
    'Что это было?!',
    'Вау!!!!!']

# Задаём внешний цикл, перебирающий строки в списке comments
for comment in comments:
    # Создаём переменную-счётчик для подсчёта количества !
    count = 0
print (count)

In [ ]:
addresses = ['164200, г. Няндома, Няндомский р-н, Архангельская обл.',
             '184703, пгт. Умба, Терский р-н, Мурманская обл.',
             '601010, г. Киржач, Киржачский р-н, Владимирская обл.']

indexes = []

for string in addresses:
    i = 0  # счетчик индексов в строке
    for char in string:
        if char.isdigit():
            indexes.append(i)
        i += 1

print(indexes)

In [ ]:
prices = [1500, 3100, 7500, 4200]
print('Значения списка prices до изменения:', prices)

# Уменьшим каждое значение списка prices на 100 единиц
for i, price in enumerate(prices[:]):
     prices[i] = price - 100
print('Результат изменения значений списка prices:', prices)

In [ ]:
prices = [1500, 3100, 7500, 4200]
print('Значения списка prices до изменения:', prices)

# Уменьшим каждое значение списка prices на 100 единиц
for i, price in enumerate(prices):
     prices[i] = price - 100
print('Результат изменения значений списка prices:', prices)

In [ ]:
mylist = ['террариум']
print('Длина начального списка:', len(mylist))

mystr = mylist[0]
print(f'Длина строки «{mystr}»: {len(mystr)}')

mylist = list(mystr)
print (mylist)
print (mystr)

In [ ]:
index_range = range(10, 31, 3)
print (index_range[0])

In [ ]:
# Создаём исходный список с названиями категорий товаров
cat = ['Электроника', 'Одежда', 'Книги', 'Одежда']

# Добавим новую категорию 'Игрушки' в конец исходного списка
cat.append('Игрушки')
print("Добавим новый элемент 'Игрушки' в конец списка методом append()")
print(cat, end='\\n\\n') 

# Добавим новую категорию 'Спорт' на второе место в списке
cat.insert(1, 'Спорт')
print("Добавим новый элемент 'Спорт' на вторую позицию в списке методом insert()")
print(cat, end='\\n\\n')  

# Добавим новые категории из второго списка add_cat
add_cat = ['Кухня', 'Сад']
cat.extend(add_cat)
print('Добавим новые элементы в список из другого списка методом extend()')
print(cat, end='\\n\\n')

# Удалим первое вхождение элемента 'Одежда' в список
cat.remove('Одежда')
print('Удалим первое вхождение определённого элемента методом remove()')
print(cat, end='\\n\\n') 

# Удалим из списка категорию 'Сад' и сохраним её в новой переменной
popped_cat = cat.pop(2)
print("Удалим из списка категорию 'Сад' и сохраним её в новой переменной методом pop()")
print(f'Переменная popped_cat содержит удалённый элемент {popped_cat}')  
print(cat, end='\\n\\n')

# Полностью очистим список
print('Полностью очистим список методом clear()')
cat.clear()
print(cat)

In [ ]:
def salary_diff (old_salary, new_salary, tax=13):
    '''
    Формула принимает значения старой зарплаты, 
    новой зарплаты и (опционально) налога. Выводит доходы
    со старой и новой зарплатой, старый и новый доходы 
    в неделю и увеличение дохода с новой зарплатой
    '''
    # Шаг 1
    old_profit = old_salary - old_salary / 100 * tax 
    #('Доход со старой зарплатой:', old_profit)

    # Шаг 2
    new_profit = new_salary - new_salary / 100 * tax 
    #print('Доход с новой зарплатой:', new_profit)

    # Шаг 3
    week_old_profit = old_profit / 4
    #print('Старый доход в неделю:', week_old_profit)

    week_new_profit = new_profit / 4 
    #print('Новый доход в неделю:', week_new_profit)

    # Шаг 4
    answer = week_new_profit - week_old_profit
    print('С новой зарплатой доход Павла в неделю увеличится на:', answer)

# Вызовем функцию
salary_diff(1000, 10000)
print (salary_diff)

In [ ]:
def income_increase(old_salary, new_salary, tax=0.13):
    old_profit = old_salary * (1 - tax)
    new_profit = new_salary * (1 - tax)
    week_old = old_profit / 4
    week_new = new_profit / 4
    increase = week_new - week_old
    return increase  # возвращаем числовое значение для дальнейшего использования

result = income_increase(70, 100)
print("Доход увеличится на", result, "в неделю")
result = income_increase(80,90)
print (result)

In [ ]:
result = income_increase (19,100)
print (result)

In [ ]:
print (income_increase (19, 100))

In [ ]:
set(['ананас'])

In [ ]:
a == 1; b == 3; a + b

In [ ]:
a = 1 == 1; b = 2 == 3; a + b

In [ ]:
1 + 2 * 6 - 3 ** 2

In [ ]:
sum(['1', '2', '3'])

In [ ]:
'1' + '2' + '3'

In [ ]:
min(['яблоко', 'банан', 'вишня'])

In [ ]:
len('123')

In [ ]:
max()

In [ ]:
trees = ['акация', 'берёза', 'дуб', 'ель', 'каштан', 'клён', 'липа', 
         'лиственница', 'ольха', 'орех', 'рябина', 'сосна', 'тополь', 'ясень']

def func(trees):
    a = ''
    for tree in trees:
        if tree > a:
            a = tree
    return a  # Код из вариантов ниже будет вставляться сюда

func(trees)

In [ ]:
sum(['1', '2', '3'])

In [ ]:
len('123')

In [ ]:
mobile_orders = [990, 1150, 820, 890, 1350, 750, 1040, 1280]
desktop_orders = [1010, 1327, 1370, 920, 890, 1390, 790, 860, 970, 1250]

# Вычисляем средние значения
mobile_avg = sum(mobile_orders)/len(mobile_orders)# Напишите ваш код здесь
desktop_avg =sum (mobile_orders)/len (mobile_orders) # Напишите ваш код здесь

# Средние значения (для наглядности — можно убрать после проверки)
print(f'Средний чек для мобильных устройств: {mobile_avg:.2f} рублей.')
print(f'Средний чек для стационарных устройств: {desktop_avg:.2f} рублей.')

In [ ]:
mobile_orders = [990, 1150, 820, 890, 1350, 750, 1040, 1280]

In [ ]:
a=len(mobile_orders)
print (a)

In [ ]:
# Создаём два списка с названием и стоимостью продуктов
trees = ['Яблоня', 'Ясень', 'Черёмуха', 'Ирга']
prices = [10000, 15000, 13000, 14000]
     
# Выведем общий результат функции zip()
print('Функция zip() возвращает zip-объект:', zip(trees, prices))

print('В цикле на каждом шаге объекты с одним индексом группируются в кортежи:')
# Выведем значения zip-объекта, в котором объединились два списка
for trees in zip(trees, prices):
     print(trees)

In [ ]:
# Создаём два списка с названием и стоимостью продуктов
trees = ['Яблоня', 'Ясень', 'Черёмуха', 'Ирга']
prices = [10000, 15000, 13000, 14000]

# Используя цикл и zip(), выводим стоимость каждого продукта
for price in zip(trees, prices):
     print(f'стоимость {price} руб.')

In [ ]:
cities = ['Москва', 'Санкт-Петербург', 'Казань', 'Новосибирск', 'Екатеринбург']
total_users = [1250, 857, 613, 405, 580]
buyers = [322, 213, 157, 81, 125]

# Создайте пустой список для доли пользователей, оформивших заказ
conversions = []# Напишите ваш код здесь

# Для каждого города посчитайте долю и сохраните в список conversions 
# Напишите ваш код здесь

# Найдите максимальное значение доли
for city, user, buyer in zip (cities, total_users, buyers):# Задайте перебор значений трёх списков
     conversion = round(buyer/user,2)# Напишите код по расчёту доли
     conversions.append (conversion)   
max_conversion = max (conversions) # Напишите ваш код здесь
print (conversions)
print (max_conversion)

In [ ]:
cities = ['Москва', 'Санкт-Петербург', 'Казань', 'Новосибирск', 'Екатеринбург']
total_users = [1250, 857, 613, 405, 580]
buyers = [322, 213, 157, 81, 125]

# Создайте пустой список для доли пользователей, оформивших заказ
conversions = []# Напишите ваш код здесь

# Для каждого города посчитайте долю и сохраните в список conversions 
# Напишите ваш код здесь

# Найдите максимальное значение доли
for city, user, buyer in zip (cities, total_users, buyers):# Задайте перебор значений трёх списков
     conversion = buyer/user# Напишите код по расчёту доли
     conversions.append(conversion)   
max_conversion = max (conversions) # Напишите ваш код здесь

# Найдите индекс максимального значения доли
max_index = 0
for i, x in enumerate (conversions):
    if x == max_conversion:
        max_index+=i 
print (max_index)

In [ ]:
products_str = "яблоко,банан,молоко,хлеб,сыр,помидор,картошка,йогурт,пирог,груша"
categories_str = "фрукты,фрукты,молочные,выпечка,молочные,овощи,овощи,молочные,выпечка,фрукты"

# Создайте два списка значений
products = products.append(products_str)#

In [ ]:
print (products)

In [ ]:
# Исходные строки
products_str = "яблоко,банан,молоко,хлеб,сыр,помидор,картошка,йогурт,пирог,груша"
categories_str = "фрукты,фрукты,молочные,выпечка,молочные,овощи,овощи,молочные,выпечка,фрукты"

# Создайте два списка значений
products = products_str.split(',')

In [ ]:
print (products)

In [9]:
# Импортируем библиотеку pandas
import pandas as pd

data = {
    'Apple': [100, 101.4, 101.1, 99.9],
    'Google': [54, 54.7, 55.1, 56.2]
}

# Создадим объект с датами для индекса
dates = pd.date_range(start='2024-01-01', periods=4, freq='D')

# Создадим датафрейм с использованием дат в качестве индекса
df = pd.DataFrame(data, index=dates)

print(df.index)

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04'], dtype='datetime64[ns]', freq='D')