In [1]:
# Импортируем библиотеку pandas и читаем файл
import pandas as pd

#Совет - используй конструкцию try except:

try:
    # Твой локальный путь к файлу, который открывается у тебя
    games = pd.read_csv('C:\\Users\\elena.kim\\Downloads\\new_games.csv')
except:
    # Путь к файлу который открывается в тренажёре/у ревьювера
    games = pd.read_csv('/datasets/new_games.csv')

In [2]:
#Анализируем набор типов и заполненность данных 
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16956 entries, 0 to 16955
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16954 non-null  object
 1   Platform         16956 non-null  object
 2   Year of Release  16681 non-null  float64
 3   Genre            16954 non-null  object
 4   NA sales         16956 non-null  float64
 5   EU sales         16956 non-null  object
 6   JP sales         16956 non-null  object
 7   Other sales      16956 non-null  float64
 8   Critic Score     8242 non-null   float64
 9   User Score       10152 non-null  object
 10  Rating           10085 non-null  object
dtypes: float64(4), object(7)
memory usage: 1.4+ MB

В датафрейме всего 16 956 строк и 11 колонок из них 4 колонки вещественного формата, 7 - формата object. 
При этом EU Sales, JP Sales - формата object, что выглядит некорректным, потому что у продаж должен быть формат float64, но по заданию мы не 
используем эти столбцы, поэтому не будем заниматься их преобразованием, а вот User Score преобразуем, потому что нам нужно категоризировать этот Series, сейчас он формата Object, а должен быть формата Float64

In [3]:
#Приводим названия столбцов к верхнему регистру и добавляем нижнее подчеркивание вместо пробелов 
games.columns = games.columns.str.upper()
games.columns = games.columns.str.replace(' ', '_')

In [4]:
# Выводим первые строки датафрейма на экран
games.head()

,NAME,PLATFORM,YEAR_OF_RELEASE,GENRE,NA_SALES,EU_SALES,JP_SALES,OTHER_SALES,CRITIC_SCORE,USER_SCORE,RATING
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN

In [5]:
# Выводим количество пропущенных строк в датафрейме
games.isna().sum()

NAME                  2
PLATFORM              0
YEAR_OF_RELEASE     275
GENRE                 2
NA_SALES              0
EU_SALES              0
JP_SALES              0
OTHER_SALES           0
CRITIC_SCORE       8714
USER_SCORE         6804
RATING             6871
dtype: int64

In [6]:
# Подсчитываем процент строк с пропусками
round(games.isna().sum() / len(games) * 100,2)

NAME                0.01
PLATFORM            0.00
YEAR_OF_RELEASE     1.62
GENRE               0.01
NA_SALES            0.00
EU_SALES            0.00
JP_SALES            0.00
OTHER_SALES         0.00
CRITIC_SCORE       51.39
USER_SCORE         40.13
RATING             40.52
dtype: float64

В столбце Year of release <2% незаполненных данных, можно пренебречь

In [7]:
# Приводим тип данных User Score к численному формату 
games['USER_SCORE'] = pd.to_numeric(games['USER_SCORE'], errors ='coerce')
games[['EU_SALES', 'JP_SALES']] = games[['EU_SALES', 'JP_SALES']].apply(pd.to_numeric, errors='coerce')

print(games.dtypes)

NAME                object
PLATFORM            object
YEAR_OF_RELEASE    float64
GENRE               object
NA_SALES           float64
EU_SALES           float64
JP_SALES           float64
OTHER_SALES        float64
CRITIC_SCORE       float64
USER_SCORE         float64
RATING              object
dtype: object

In [8]:
games.head()

,NAME,PLATFORM,YEAR_OF_RELEASE,GENRE,NA_SALES,EU_SALES,JP_SALES,OTHER_SALES,CRITIC_SCORE,USER_SCORE,RATING
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8.0,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8.0,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN

In [9]:
#Отфильтровываю тот датафрейм который нужен для анализа, а именно период с 2000г. по 2013г включительно
filtered_games = games[(games['YEAR_OF_RELEASE'] >= 2000) & (games['YEAR_OF_RELEASE'] <= 2013)]

In [10]:
#Вывожу количество строк
filtered_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12980 entries, 0 to 16954
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NAME             12980 non-null  object
 1   PLATFORM         12980 non-null  object
 2   YEAR_OF_RELEASE  12980 non-null  float64
 3   GENRE            12980 non-null  object
 4   NA_SALES         12980 non-null  float64
 5   EU_SALES         12975 non-null  float64
 6   JP_SALES         12976 non-null  float64
 7   OTHER_SALES      12980 non-null  float64
 8   CRITIC_SCORE     7267 non-null   float64
 9   USER_SCORE       6572 non-null   float64
 10  RATING           8847 non-null   object
dtypes: float64(7), object(4)
memory usage: 1.2+ MB

In [11]:
#Избавляемся от дубликатов
games_cleaned = filtered_games.drop_duplicates ()
games_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12829 entries, 0 to 16954
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NAME             12829 non-null  object
 1   PLATFORM         12829 non-null  object
 2   YEAR_OF_RELEASE  12829 non-null  float64
 3   GENRE            12829 non-null  object
 4   NA_SALES         12829 non-null  float64
 5   EU_SALES         12824 non-null  float64
 6   JP_SALES         12825 non-null  float64
 7   OTHER_SALES      12829 non-null  float64
 8   CRITIC_SCORE     7197 non-null   float64
 9   USER_SCORE       6507 non-null   float64
 10  RATING           8755 non-null   object
dtypes: float64(7), object(4)
memory usage: 1.2+ MB

In [12]:
round(games_cleaned.isna().sum() / len(games_cleaned) * 100,2)

NAME                0.00
PLATFORM            0.00
YEAR_OF_RELEASE     0.00
GENRE               0.00
NA_SALES            0.00
EU_SALES            0.04
JP_SALES            0.03
OTHER_SALES         0.00
CRITIC_SCORE       43.90
USER_SCORE         49.28
RATING             31.76
dtype: float64

49% оценок пользователей и 44% оценок критиков отсутствуют, что весьма много, однако если продумывать стратегию обработки пропусков, не надо забывать, что оценки - это все такие очень субьективная сущность, поэтому заменять их средним, на мой взгляд будет только искажать данные, поэтому оставляю как есть

In [13]:
#Попробуем категоризовать 
games_cleaned = games_cleaned.copy()
games_cleaned['USER_SCORE_GROUP'] = pd.cut(games_cleaned['USER_SCORE'], bins=[0, 3, 8, 10], labels=["Низкая оценка", "Средняя оценка", "Высокая оценка"])
games_cleaned['CRITIC_SCORE_GROUP'] = pd.cut(games_cleaned['CRITIC_SCORE'], bins=[0, 30, 80, 100], labels=["Низкая оценка", "Средняя оценка", "Высокая оценка"])

In [14]:
games_cleaned.head(15)

,NAME,PLATFORM,YEAR_OF_RELEASE,GENRE,NA_SALES,EU_SALES,JP_SALES,OTHER_SALES,CRITIC_SCORE,USER_SCORE,RATING,USER_SCORE_GROUP,CRITIC_SCORE_GROUP
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8.0,E,Средняя оценка,Средняя оценка
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E,Высокая оценка,Высокая оценка
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8.0,E,Средняя оценка,Средняя оценка
6,New Super Mario Bros.,DS,2006.0,Platform,11.28,9.14,6.50,2.88,89.0,8.5,E,Высокая оценка,Высокая оценка
7,Wii Play,Wii,2006.0,Misc,13.96,9.18,2.93,2.84,58.0,6.6,E,Средняя оценка,Средняя оценка
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,14.44,6.94,4.70,2.24,87.0,8.4,E,Высокая оценка,Высокая оценка
10,Nintendogs,DS,2005.0,Simulation,9.05,10.95,1.93,2.74,NaN,NaN,NaN,NaN,NaN
11,Mario Kart DS,DS,2005.0,Racing,9.71,7.47,4.13,1.90,91.0,8.6,E,Высокая оценка,Высокая оценка
13,Wii Fit,Wii,2007.0,Sports,8.92,8.03,3.60,2.15,80.0,7.7,E,Средняя оценка,Средняя оценка
14,Kinect Adventures!,X360,2010.0,Misc,15.00,4.89,0.24,1.69,61.0,6.3,E,Средняя оценка,Средняя оценка
15,Wii Fit Plus,Wii,2009.0,Sports,9.01,8.49,2.53,1.77,80.0,7.4,E,Средняя оценка,Средняя оценка
16,Grand Theft Auto V,PS3,2013.0,Action,7.02,9.09,0.98,3.96,97.0,8.2,M,Высокая оценка,Высокая оценка
17,Grand Theft Auto: San Andreas,PS2,2004.0,Action,9.43,0.40,0.41,10.57,95.0,9.0,M,Высокая оценка,Высокая оценка
19,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,4.74,9.20,4.16,2.04,77.0,7.9,E,Средняя оценка,Средняя оценка
20,Pokemon Diamond/Pokemon Pearl,DS,2006.0,Role-Playing,6.38,4.46,6.04,1.36,NaN,NaN,NaN,NaN,NaN

In [15]:
grouped_data = games_cleaned.groupby(['USER_SCORE_GROUP', 'CRITIC_SCORE_GROUP'], as_index=False, observed=True)['NAME'].count()

In [16]:
print (grouped_data)

  USER_SCORE_GROUP CRITIC_SCORE_GROUP  NAME
0    Низкая оценка      Низкая оценка    20
1    Низкая оценка     Средняя оценка    87
2   Средняя оценка      Низкая оценка    38
3   Средняя оценка     Средняя оценка  3427
4   Средняя оценка     Высокая оценка   607
5   Высокая оценка      Низкая оценка     1
6   Высокая оценка     Средняя оценка  1094
7   Высокая оценка     Высокая оценка   858

In [17]:
print (grouped_data['NAME'].sum())

6132

In [18]:
grouped_data_user_score = games_cleaned.groupby(['USER_SCORE_GROUP'], as_index=False, observed= True)['NAME'].count()
print (grouped_data_user_score)
print (grouped_data_user_score['NAME'].sum())

  USER_SCORE_GROUP  NAME
0    Низкая оценка   132
1   Средняя оценка  4339
2   Высокая оценка  2035
6506

In [19]:
grouped_data_critic_score = games_cleaned.groupby(['CRITIC_SCORE_GROUP'], as_index=False, observed= True)['NAME'].count()
print (grouped_data_critic_score)
print (grouped_data_critic_score['NAME'].sum())

  CRITIC_SCORE_GROUP  NAME
0      Низкая оценка    67
1     Средняя оценка  5637
2     Высокая оценка  1493
7197

из очищенного датафрейма в 12 829 строк, с обеими оценками оказались 6132 игры. 
При этом отдельно эксперты проставили 7197 оценок, а пользователи 6506, что странно, потому что кажется, что аудитория пользователей должна быть более многочисленной

По 4305 или 70% оценкам, мнения экспертов и пользователей совпали. 
Всего по одной игре зафиксировано "радикальное" различие в оценках между экспертами и пользователями, когда пользователи дали Высокуй оценку, а эксперты Низкую. 
В остальных играх раличие в оценках также есть но не более чем на 1 грейд: в 607 играх пользователи дали среднюю оценку, а эксперты высокую, и в 1094 игре пользователи наоборот дали высокую оценку, а эксперты среднюю.

In [20]:
grouped_platform = games_cleaned.groupby(['PLATFORM'], as_index=False)['NAME'].count()
sorted_platforms = grouped_platform.sort_values(by='NAME', ascending=False)
sorted_platforms.head(7)

   PLATFORM  NAME
9       PS2  2131
2        DS  2126
15      Wii  1279
12      PSP  1184
17     X360  1126
10      PS3  1090
4       GBA   813

7 ведущих платформ зарелизили в период с 2010 по 2013гг 9749 игр или 76% игр